<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>Docker + GAE test</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Images  <a href="#" id="btn-predict" class="btn btn-primary my-2">PREDICT</a></h1>
        
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Image 1</h3>
            </div>
            <div class="panel-body">
              <img src="{{ url_for('static',filename='1.png') }}" class="img-thumbnail">
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Image 8</h3>
            </div>
            <div class="panel-body">
              <img src="{{ url_for('static',filename='8.png') }}" class="img-thumbnail">
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Image 5</h3>
            </div>
            <div class="panel-body">
              <img src="{{ url_for('static',filename='5.png') }}" class="img-thumbnail">
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Image 7</h3>
            </div>
            <div class="panel-body">
              <img src="{{ url_for('static',filename='7.png') }}" class="img-thumbnail">
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>




      <div class="page-header">
        <h1>Results</h1>
      </div>
      <div class="well">
        <p></p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $("#btn-predict").click(function(){
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/test/",
            data: '',
            success: function(data){
              $('.well p').text('Predicted Output: ' + data);
            }
          });
        });
     
     </script>
  </body>
</html>
